[submodule "scalatest"]
	path = scalatest
	branch = dotty
	url = https://github.com/dotty-staging/scalatest.git
[submodule "dotty"]
	path = dotty
	branch = master
	url = https://github.com/lampepfl/dotty.git
