[submodule "scalatest"]
	path = scalatest
	branch = dotty
	url = https://github.com/dotty-staging/scalatest.git
[submodule "squants"]
	path = squants
	branch = dotty
	url = https://github.com/dotty-staging/squants.git
[submodule "algebra"]
	path = algebra
	branch = dotty
	url = https://github.com/dotty-staging/algebra.git
[submodule "ScalaPB"]
	path = ScalaPB
	branch = dotty
	url = https://github.com/dotty-staging/ScalaPB.git
[submodule "scopt"]
	path = scopt
	branch = dotty
	url = https://github.com/dotty-staging/scopt.git
